@page
@model QuanLyHangHoa.Pages.MH_DanhSachHangHoaModel
@using QuanLyHangHoa.Entities

<form method="POST">
    <label for="fname">Nhap tu khoa:</label><br>
    <input type="text" name="tuKhoaLoaiHang" value=" "><br>
    <input type="submit" value="Tìm kiếm">
</form>

<table>
    <tr>
        <th>Loại hàng</th>
    </tr>    
    @foreach (HangHoa hh in Model.dsHangHoa)
    {
        <tr>
              <td>@hh.loaiHang</td>
            <td>
                <a href="MH_XoaLoaiHang?ID=@hh.loaiHang"> Xóa loại hàng</a>
                <a href=""> Sửa loại hàng</a>
            </td>
        </tr>
    }
</table>
