@page
@model QuanLyHangHoa.Pages.MH_XoaLoaiHangModel
@{ 

}

@if (Model.coHangHoa)
{
<form method="POST">
    <div>Bạn có muốn xóa hàng hóa thuộc loại hàng : @Model.HangHoa.loaiHang</div>
    <input type="submit" value="Xóa">
</form>
}

@Model.Chuoi